body{
  background: url(sky.jpg) no-repeat center center;
  background-size: cover;
}
.wrapper{
  background-color:rgba(0,0,0,.3);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 7px 8px 23px 0px rgba(56,55,56,1);
  -moz-box-shadow: 7px 8px 23px 0px rgba(56,55,56,1);
  box-shadow: 7px 8px 23px 0px rgba(56,55,56,1);
  background-color:rgba(0,0,0,.1);


}
form{
  display: flex;
  
}
.btn{
  margin-left: 20px;
  min-width: 200px;
}
.card{
  margin-top: 50px;
  -webkit-box-shadow: 7px 8px 23px 0px rgba(56,55,56,1);
  -moz-box-shadow: 7px 8px 23px 0px rgba(56,55,56,1);
  box-shadow: 7px 8px 23px 0px rgba(56,55,56,1);
}
h3{
  color: red;
  margin-top: 40px;
}
